.styled-button {
  align-items: center;
  background-color: rgba(183, 240, 240, 0.829);
  border-radius: 9px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  font-weight: bold;
  min-height: 36px;
  justify-content: center;
  min-width: 40px;
  outline-style: none;
  width: 40px;
  padding: 0 30px;
  text-decoration: none;
  transition: background-color 0.2s;
}
